<!-- <div fxLayout="row">
  <div fxFlex.gt-sm="100%" >
  </div>
</div> -->
<mat-card>
    <mat-card-content>
      <mat-card-title>
          <div fxLayout="row">
              <div fxFlex.gt-sm="80%" >
                Invoice
              </div>
              <div fxFlex.gt-sm="20%" class="text-right">
                Logo
              </div>
           </div>
          <div fxLayout="row">
              <div fxFlex.gt-sm="80%" >
                <div>Bill to:</div>
                <h3>Company Name</h3>
                <div>Reg Number</div>
                <div>Name Surname</div>
                <div>Phone</div>
                <div>Email</div>
                <div>website</div>
                <div>Adress</div>
              </div>
              <div fxFlex.gt-sm="20%" class="text-right">

              </div>
           </div>
      </mat-card-title>
    </mat-card-content>
</mat-card>
